{% extends "base.html" %}
{% block title %}Available Courses{% endblock title %}
{% load url from future %}

{% block bodytag %}
<body class="home">
{% endblock bodytag %}


{% block topcontent %}
<div class="row-fluid hero-header">
    <div class="container">
        <div class="row hero">
            <h2>ThoughtWorks Online Classes</h2>
            <h2>Learn <strong>Anywhere.</strong></h2>
        </div>
    </div>
</div>
{% endblock topcontent %}

{% block m_column_content %}
<div class="home-unit home-primary" style="background:#fff">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h3>Welcome to ThoughtWorks online classroom! We're ThoughtWorks internal platform, designed to be an open platform for online learning and research.</h3>
		<p>Coming Spring, 2013, free to the world:
		<ul>
		    <li><a href="{% url 'courses.views.main' 'Test'
		    Spring2013' %}">Test Course</a> with Liang Huang</li>
		</ul>
            </div>
            <div class="span5">
	      <h4>Here's what you will like about it:</h4>
                <p><strong>Videos from TW senior stuff</strong> with interactive in-video quizzes give you a chance to learn from masters and then practice what you've learned.</p>
                <p><strong>Formative and summative exercises</strong> as well as in-video quizzes taking your learning to the next level.</p>
                <p><strong>Frame extracting</strong> allows you to preview and navigate to specific parts of videos. Scroll through extracted frames underneath a video to quickly find what you're looking for.</p>
                <p><strong>Love discussion forums?</strong> We've added Piazza forums to get people talking.</p>
            </div>
        </div>
    </div>
</div>
<div>
<br/>
<h3 style="padding-left:50px;">Spring, 2013</h3>
<div class="home-unit">
    <div class="container">
        <div class="row databases">
            <h3><a href="{% url 'courses.views.main' 'Test' 'Spring2013' %}">Test Course</a></h3>
            <p><strong>Class begins January 7, 2013</strong></p>
	    <p>This is an introductory course on databases, primarily focusing on how databases and database systems are used in applications. The course will cover relational databases and SQL as well as cover semi-structured and unstructured data using the XML and JSON models. It will cover different ways of designing databases and include such important topics such as; indexes, views, transactions, authorization, integrity, triggers, and online analytical processing (OLAP). Towards the end of the class, Cloud databases and NoSQL systems will also be covered.</p>
        </div>
    </div>
</div>

{% endblock m_column_content %}
