<html>
    <head>
        
        <link rel="stylesheet" href="/static/css/core/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/core/responsive.css" />
        <link rel="stylesheet" href="/static/css/core/ui-lightness/jquery-ui-1.8.22.custom.css" />
        <link rel="stylesheet" href="/static/css/core/body.css" />
        <link rel="stylesheet" href="/static/css/core/divs.css" />
        <!--[if IE 7]>
         <link rel="stylesheet" href="/static/css/core/font-awesome-ie7.css">
         <![endif]-->
        
        <title>Online Classroom</title>
        
    </head>
    <body>
        <div id="viewport">
            <div id="global-header">
                <div class="stanford-logo">
                    <a href="http://www.stanford.edu"><img src="/static/graphics/core/header-stanford-logo.png" width="198" height="11" alt="Stanford University"></a>
                </div>
            </div>
            
            <div class="container-fluid body-content">
                
                <h3>Something went wrong.  Sit tight, someone is working on it.</h3>
                
                <p>It seems that there is a a technical problem on our side. We've
                been notified and will get things fixed ASAP.</p>
                
                <p>Sorry about that!</p>
            </div>
        </div>
        
        <script type="text/javascript" src="/static/js/core/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/core/app.js"></script>
    </body>
</html>
