{% extends "base.html" %}
{% load url from future %}
{% block title %}Contact Us{% endblock title %}
{% block navbar %} {% endblock navbar %}

{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <center><h2>How to reach us</h2></center>
        <p></p>
        <h3>For most issues, we recommend posting on the discussion forum rather than sending email.  </h3><p></p>
        
        {% if staffmail %}
        <p>For {{course.title}} course staff email <a href="mailto:{{staffmail}}">{{staffmail}}</a>. Course staff may not be able to respond to all queries individually - please consider posting on the discussion forum.</p>
        {% endif %}
        <p>For general information email our <a href="mailto:{{adminmail}}">admin</a></p>
   </div>
</div>
{% endblock m_column_content %}
